<div>
    <div class="text-center" style="margin: 25%;">
        <div class="spinner-grow" style="width: 2rem; height: 2rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow" style="width: 2rem; height: 2rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow" style="width: 2rem; height: 2rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
